<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mycoffeeshop">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".OthersPackage.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/coffee_launcher_icon9"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Pages.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Pages.MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Pages.RegisterActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Pages.PaymentDetailsActivity" />
    </application>

</manifest>